/* -- based on https://www.youtube.com/watch?v=gXkqy0b4M5g&t=928s -- */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    min-height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* -- layout globar nav tag -- */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #008080;
    font-family: Arial, Helvetica, sans-serif;
}

/* -- Logo -- */
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding-top: 0.5%;
}

.logo a{
    text-decoration: none;
    color: rgb(226, 226, 226);
}

/* -- navigation top bar -- */
.topnav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.topnav li{
    list-style: none;
}

.topnav a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

/* -- menu layout -- */
.collapse_menu{
    display: none;
    cursor: pointer;
}

.collapse_menu div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

/* -- Text body content -- */
section{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F5F5DC;
    min-height: 100vh;
}
  
.text-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1.3;
    padding-left: 2%;
    padding-bottom: 5%;
    padding-right: 2%;
}

.text_body_side{
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1.3;
    padding-left: 12%;
    padding-bottom: 5%;
    padding-right: 2%;
}

.text-body h1{
    font-size: 25px;
}

.text_body_side h1{
    font-size: 25px;
  }

h2{
    padding-left: 2%;
}
h3{
    padding-left: 4%;
}
  
p{
    padding-left: 5%;
}

/* -- Sidebar content -- */
.side_nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 8vh; /*size of topnavbar*/
    background-color: #F5F5DC;
    width: 10%;
    overflow: hidden;
}

.side_nav li{
    list-style: none;
    margin: 20%;
}

.side_nav a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    color: #008080;
}

/* -- Profile Image settings -- */
#cv_img_2{
    margin-top: 1%;
    width: 100%;
    padding-left: 5%;
    flex-direction: column;
}

img {
    display: block;
}

/* -- Header Image Settings -- */
.header_img{
    width: 100%;
    flex-direction: column;
    height: 150px;
}

.header_img > .banner_img{
    display: block;
    height: 150px;
}

/* --  Youtube embedded video settings -- */
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}
.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* -- Footer layout -- */
footer{
  background: #333;
  color: white;
  padding: 3em;
  text-align: center;
  margin-top: auto;
  flex-shrink: 0;
}

footer a{
  text-decoration: none;
  color: white;
}

/* -- Tablet sizing -- */
@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden; /*remove scrollbar*/
    }
    
    .topnav{
        width: 50%;
    }
}

/* -- Small phone sizing -- */
@media screen and (max-width: 600px){
    body{
        overflow-x: hidden; /*remove scrollbar*/
    }
    
    .topnav{
        position: absolute;
        right: 0px;
        height: 92vh; /*fullscreen*/
        top: 8vh;
        background-color: #008080;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .logo{
        font-size: 14px;
    }

    .topnav li{
        opacity: 0;
    }

    .collapse_menu{
        display: block;
    }
  
    .side_nav{
        top: 8vh;
        width: 25%;
        height: 100%;
    }
    
    .side_nav a{
        font-size: 9px;
    }
    
    .text_body_side{
        padding-left: 30%;
    }
}

/* -- mobile sizing + setup -- */
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden; /*remove scrollbar*/
    }
    
    .topnav{
        position: absolute;
        right: 0px;
        height: 92vh; /*fullscreen*/
        top: 8vh;
        background-color: #008080;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .logo{
        font-size: 14px;
    }

    .topnav li{
        opacity: 0;
    }

    .collapse_menu{
        display: block;
    }
  
    .side_nav{
        top: 8vh;
        width: 20%;
        height: 100%;
    }
    
    .text_body_side{
        padding-left: 25%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes topnav_fade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
