<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Madness Unleashed</title>
</head>

<body>
    <!-- navigation bar top screen-->
    <nav>
        <div class="logo">
            <h1><i>Resume</i></h1>
        </div>

        <ul class="topnav">
            <li>
                <a href="./index.html">Home</a>
            </li>
            <li>
                <a href="./About.html">About</a>
            </li>
            <li>
                <a href="./Projects.html">Projects</a>
            </li>
            <li>
                <a href="./Future.html">Future</a>
            </li>
        </ul>

        <div class="collapse_menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav> 
      
    <!-- About navigation bar side screen -->
    <div class="side_nav">
        <ul>
            <li><a href="./About.html">General</a></li>
            <li><a href="./edu.html">Education</a></li>
            <li><a href="./skills.html">Skills</a></li>
            <li><a href="./hobbies.html">Hobbies</a></li>
        </ul>
    </div>

    <!-- Text Body -->
    <section>
        <article class="text_body_side">
            <h1>Introduction of myself</h1>
            <div id="cv_img_2">
                <img src="/Images/cv_img.jpg" style="width:40%">
            </div>
            <h2>Name</h2>
            <p>
                Stijn Boons<br>
            </p>
            <br>
            <h2>Address</h2>
            <p>
                Bockhornsvägen 1<br>
                587 32 Linköping
            </p>
            <br>
            <h2>Contact info</h2>
            <p>
                <i>Mobile number:</i> 0727364236<br>
                <i>Email:</i> stijn.boons@outlook.com<br>
            </p>
            <br>
            <h2>Date of birth</h2>
            <p>
                15 may 1992<br>
            </p>
        </article>
    </section>

    <!-- script nav bar-->
    <script src="nav_bar.js"></script>
</body>