<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Madness Unleashed</title>
</head>

<body>
    <!-- navigation bar top screen-->
    <nav>
        <div class="logo">
            <h1><i>Resume</i></h1>
        </div>

        <ul class="topnav">
            <li>
                <a href="./index.html">Home</a>
            </li>
            <li>
                <a href="./About.html">About</a>
            </li>
            <li>
                <a href="./Projects.html">Projects</a>
            </li>
            <li>
                <a href="./Future.html">Future</a>
            </li>
        </ul>

        <div class="collapse_menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav> 
    
    <!-- About navigation bar side screen -->
    <div class="side_nav">
        <ul>
            <li><a href="./pers_proj.html">Personal</a></li>
            <li><a href="./school_proj.html">School</a></li>
        </ul>
    </div>

    <!-- Text Body -->
    <section>
        <article class="text_body_side">
            <h1>List with home projects:</h1>
            <h2>Raspberry pi Website</h2>
            <p>
                You are pretty much reading this. So far my biggest home project with some results.<br>
                A link to the repository can be found <a href="https://gitlab.com/VRkari/rpi_site" target="_blank">here</a>.<br>
                Or if you right click on the website and 'view source' or press F12.<br>
            </p>
            <br>
            <h2>Guess the number game</h2>
            <p>
                This is just a very basic, not yet fully finished guess the number game written in cpp.<br>
                Its functional but lacks some settings features.<br>
                <strong>Update repo!</strong></a>.<br>
                To do: make game in JS so its playable on the website.<br>
            </p>
            <br>
            <h2>Rollplay dice</h2>
            <p>
                Because I started rollplaying a bit during my first year of programming, <br>
                I thought it would be fun to make a small cpp program for all the different dice,<br>
                and the different amount of dice needed for rollplaying.<br>
                This program works fine but the feeling of actually rolling dice, compaired to a pc that<br>
                rolls for you was too big. It is currently not used and thus is also not uploaded to a git repo.<br>
                In the future i shall provide a link here. <br>
                To do: make game in JS so its playable on the website.<br>
            </p>
            <br>
            <h2>FizzBuzz</h2>
            <p>
                This is a fizzbuzz game, written in cpp, that I made for a challenge in school.<br>
                <strong>Update repo!</strong></a>.<br>
                To do: make game in JS so its playable on the website.<br>
            </p>
            <br>
        </article>
    </section>

    <!-- script nav bar-->
    <script src="nav_bar.js"></script>
</body>