body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #555;
  }
  
  /* -- show which tab is currently watched -- */
  #active{
    background-color: #4CAF50;
  }
  
  /* -- Parent topnav -- */
  .topnav{
    overflow: auto;
  }
  
  /* -- topnav children -- */
  .topnav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .topnav ul li {
    width: 100%;
    
  }
  
  .topnav a {
    text-transform: uppercase;
    font-size: 3vh;
    letter-spacing: 1px;
    display: block;
    background-color: #333;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  .topnav a:hover {
    background: hotpink;
    color: black;
  }
  
  /* -- Parent sidenav -- */
  .sidenav {
    display:flex;
    width:15%;
    float:left;
    overflow: auto;
  }
  
  /*-- sidenav children -- */
  .sidenav ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
  }
  
  .sidenav ul li {
    height: 100%;
  }
  
  .sidenav a {
    text-transform: uppercase;
    font-size: 3vh;
    display: block;
    background-color: #555;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  .sidenav a:hover {
    background: hotpink;
    color: black;
  }
  
  /* -- text box -- */
  .content {
    background-color: #4CAF50;
    padding: 1%;
    overflow: auto;
    font-size: 3vh;
    display: flex;
    flex-wrap: wrap;
  }

  .content .textfield{
    flex-direction: column;
  }

  /* -- Image settings -- */
  #cv_img{
    margin-top: 1%;
    width: 100%;
    flex-direction: column;
  }

  #cv_img_2{
    margin-top: 1%;
    width: 100%;
    flex-direction: column;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* -- changing size for mobile phone viewability without scuffing monitor view -- */
  /* -- 1 em == 16px -- */
  @media only screen and (max-width:20em) and (max-width: 64em) {
    .topnav a, .sidenav a, .content {
      font-size: 2vh;
    }
    .sidenav{
      width: 20%;
    }
    .content{
      padding: 2%;
    }

    #cv_img{
      width: 20%;
    }

  }
  